    /* header section */

    body {
        margin: 0;
        font-family: 'Segoe UI', sans-serif;
      }
  
      header {
        background-color: #ff7a00;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem 1.5rem;
        color: white;
      }
  
      .logo-section {
        display: flex;
        align-items: center;
      }
  
      .logo-icon {
        background-color: #fff;
        color: black;
        border-radius: 50%;
        font-weight: bold;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.75rem;
      }
  
      .logo-text {
        font-weight: 600;
      }
  
      nav a {
        color: white;
        text-decoration: none;
        margin-left: 1.5rem;
        font-weight: bold;
        transition: opacity 0.2s;
      }
  
      nav a:hover {
        opacity: 0.8;
      }

/* end of header section */

